<?xml version="1.0" ?>
<launch>
  <arg name="en_gui" default="False" />

  <param name="robot_description" textfile="$(find pro7a_description)/urdf/pro7a.urdf" />
  <param name="use_gui" value="$(arg en_gui)" />
  
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <remap from="/joint_states" to="/robotis/pro7a/joint_states" />
    <rosparam param="source_list">["robotis/pro7a/goal_joint_states"]</rosparam>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <remap from="/joint_states" to="/robotis/pro7a/joint_states" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pro7a_description)/launch/urdf.rviz" />
</launch>