*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

#ignore vscode
.vscode/*
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
#!.vscode/extensions.json

# python tmp 
*.pyc

# root CMakeLists.txt
/CMakeLists.txt


# ignore training data

# ignore photo
*.jpg


# ignore macosx
__MACOSX/
.DS_Store

# ignore for nodejs
node_modules/
npm-debug.log

# label_server_ignore
/label_server/Image/
/label_server/xml/
/label_server/node/log/*.log


# catkin ignore
CATKIN_IGNORE

# ignore PCL_Test
/PCL_Test/
/vision/obj_pose/pcd_file/
/PCL_Test/
/arc_ui/web/item-app/public/arc_items/
/vision/test_data/

# pcl_saver ignore
/vision/pcl_saver/pattern/
!/vision/pcl_saver/pattern/README.md

# ignore for pcd
*.pcd