*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

#ignore vscode
.vscode/*
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
#!.vscode/extensions.json

# python tmp 
*.pyc

# root CMakeLists.txt
/CMakeLists.txt


# ignore PCD
*.pcd

# ignore macosx
__MACOSX/

# ignore node_modules
node_modules/

# react-build
build/

# label_server_ignore
/label_server/Image/
/label_server/xml/
/label_server/node/log/*.log