<?xml version="1.0" ?>

<launch>    
    
    <!-- arg for sim  -->
    <arg name="en_sim" default="false" />
    <arg name="paused" default="false" />

    <!-- launch file -->
    <include file="$(find manipulator_h_manager)/launch/manipulator_h_manager.launch" >
        <arg name="en_sim" value="$(arg en_sim)" />
    </include>
    <include file="$(find manipulator_h_gazebo)/launch/manipulator_h_gazebo.launch" if="$(arg en_sim)" >
        <arg name="paused" value="$(arg paused)" />
    </include>

    <!-- run cmd node of marking demo -->
    <node name="demo" pkg="manipulator_h_cmd_publisher" type="demo.py" output="screen" />

</launch>