<?xml version="1.0" ?>

<launch>

    <!-- arg for sim -->
    <arg name="en_sim" default="false" />
    <arg name="paused" default="false" />

    <!-- arg for serial port -->
    <arg name="port" default="/dev/ttyUSB0" />

    <!-- launch file -->
    <include file="$(find manipulator_h_manager)/launch/manipulator_h_manager.launch" >
        <arg name="en_sim" value="$(arg en_sim)" />
    </include>
    <include file="$(find manipulator_h_gazebo)/launch/manipulator_h_gazebo.launch" if="$(arg en_sim)" >
        <arg name="paused" value="$(arg paused)" />
    </include>

    <!-- run rosserial -->
    <node name="serial_node" pkg="rosserial_python" type="serial_node.py" >
        <param name = "port" value ="$(arg port)" />
        <param name = "baud" value = "57600" />
    </node>

    <!-- run cmd node of pick place -->
    <node name="pick_place_demo" pkg="manipulator_h_cmd_publisher" type="pick_place_pump.py" output="screen" />
    
</launch>
