<?xml version="1.0" ?>

<launch>    

    <arg name="en_sim" default="false" />
    <arg name="en_gui" default="false" />
    <arg name="en_vac" default="true" />

    <param name="gazebo"                   value="$(arg en_sim)"     type="bool" />
    <param name="gazebo_robot_name"        value="robotis_pro7a" />

    <param name="offset_table"             value="$(find manipulator_h_manager)/config/offset.yaml" />
    <param name="robot_file_path"          value="$(find manipulator_h_manager)/config/ROBOTIS_MANIPULATOR_H.robot" />
    <param name="init_file_path"           value="$(find manipulator_h_manager)/config/dxl_init_n.yaml" />

    <!-- Manipulator Manager -->
    <node name="manipulator_h_manager" pkg="manipulator_h_manager" type="manipulator_h_manager"
            output="screen" />

    <!-- run rosserial -->
    <node name="serial_node" pkg="rosserial_python" type="serial_node.py" if="$(arg en_vac)">
        <param name = "port" value ="/dev/arc/arduino" />
        <param name = "baud" value = "57600" />
    </node>

    <!--run modbus(linear) -->
    <node name="linear_z" pkg="linear_motion" type="linear_z" output="screen">
        <param name = "port_right" value ="/dev/arc/LM2" />  <!--"/dev/ttyUSB1" -->
        <param name = "port_base"  value ="/dev/arc/LM1" />  <!--"/dev/ttyUSB0" -->
        <param name = "port_left"  value ="/dev/arc/LM3" />  <!--"/dev/ttyUSB3" -->
        <param name = "baud" value = "9600" />
    </node>

<!--
<include file="$(find arc_ui)/launch/ui.launch" />
-->
    <!-- rosbridge_server -->
  <arg name="port" default="9090" />
  <arg name="address" default="" />
  <arg name="ssl" default="false" />
  <arg name="certfile" default=""/>
  <arg name="keyfile" default="" />

  <arg name="retry_startup_delay" default="5" />

  <arg name="fragment_timeout" default="600" />
  <arg name="delay_between_messages" default="0" />
  <arg name="max_message_size" default="None" />

  <arg name="authenticate" default="false" />

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <arg name="port" value="$(arg port)"/> 
    <arg name="address" value="$(arg address)"/>
    <arg name="ssl" value="$(arg ssl)"/>
    <arg name="certfile" value="$(arg certfile)"/>
    <arg name="keyfile" value="$(arg keyfile)"/>
  </include>

</launch>
