<?xml version="1.0" ?>

<launch>    

    <!-- run rosserial 
    <node name="serial_node" pkg="rosserial_python" type="serial_node.py" if="$(arg en_vac)">
        <param name = "port" value ="/dev/ttyACM0" />
        <param name = "baud" value = "57600" />
    </node>
    -->

    <!--run modbus(linear) -->
    <node name="linear_z" pkg="linear_motion" type="linear_z" output="screen">
        <param name = "port_z" value ="/dev/arc/LM2" />  <!--"/dev/ttyUSB1" -->
	    <param name = "port_x" value ="/dev/arc/LM1" />  <!--"/dev/ttyUSB0" -->
        <param name = "baud" value = "9600" />
        
    </node>
	

</launch>
