<?xml version="1.0" ?>

<launch>    

    <arg name="en_sim" default="false" />
    <arg name="en_gui" default="false" />
    <arg name="en_vac" default="true" />

    <param name="gazebo"                   value="$(arg en_sim)"     type="bool" />
    <param name="gazebo_robot_name"        value="robotis_pro7a" />

    <param name="offset_table"             value="$(find manipulator_h_manager)/config/offset.yaml" />
    <param name="robot_file_path"          value="$(find manipulator_h_manager)/config/ROBOTIS_MANIPULATOR_H.robot" />
    <param name="init_file_path"           value="$(find manipulator_h_manager)/config/dxl_init_n.yaml" />

    <!-- Manipulator Manager -->
    <node name="manipulator_h_manager" pkg="manipulator_h_manager" type="manipulator_h_manager"
            output="screen" >
        <remap from="/robotis/base/JointP2P_msg"  	  	  to="/left_arm/robotis/base/JointP2P_msg"	    />
        <remap from="/robotis/base/Joint_Control" 	  	  to="/left_arm/robotis/base/Joint_Control"	    />
        <remap from="/robotis/base/TaskP2P_msg"   	  	  to="/left_arm/robotis/base/TaskP2P_msg"	    />
        <remap from="/robotis/base/ini_pose_msg"  	  	  to="/left_arm/robotis/base/ini_pose_msg"	    />
        <remap from="/robotis/base/kinematics_pose_msg"   	  to="/left_arm/robotis/base/kinematics_pose_msg"   />
        <remap from="/robotis/base/set_mode_msg" 	  	  to="/left_arm/robotis/base/set_mode_msg"	    />
        <remap from="/robotis/base/set_velocity" 	  	  to="/left_arm/robotis/base/set_velocity"	    />

        <remap from="/robotis/enable_ctrl_module" 	  	  to="/left_arm/robotis/enable_ctrl_module"	    />
        <remap from="/robotis/goal_joint_states" 	  	  to="/left_arm/robotis/goal_joint_states"	    />
        <remap from="/robotis/present_joint_ctrl_modules" 	  to="/left_arm/robotis/present_joint_ctrl_modules" />
        <remap from="/robotis/present_joint_states" 	  	  to="/left_arm/robotis/present_joint_states"	    />
        <remap from="/robotis/set_control_mode" 	  	  to="/left_arm/robotis/set_control_mode"	    />
        <remap from="/robotis/set_joint_ctrl_modules" 	  	  to="/left_arm/robotis/set_joint_ctrl_modules"     />
        <remap from="/robotis/set_joint_states" 	  	  to="/left_arm/robotis/set_joint_states"	    />
        <remap from="/robotis/status" 			  	  to="/left_arm/robotis/status"		    	    />
        <remap from="/robotis/sync_write_item" 		  	  to="/left_arm/robotis/sync_write_item"	    />

	<remap from="/robotis/base/get_joint_pose" 		  to="/left_arm/robotis/base/get_joint_pose"	    	/>
	<remap from="/robotis/base/get_kinematics_pose" 	  to="/left_arm/robotis/base/get_kinematics_pose"	/>
	<remap from="/robotis/get_present_joint_ctrl_modules" 	  to="/left_arm/robotis/get_present_joint_ctrl_modules"	/>
    </node>

    
    <!-- run rosserial -->
    <!--
    <node name="serial_node" pkg="rosserial_python" type="serial_node.py" if="$(arg en_vac)">
        <param name = "port" value ="/dev/arc/arduino" />
        <param name = "baud" value = "57600" />
    </node>
    -->

    <!--run modbus(linear) -->
    <node name="linear_z" pkg="linear_motion" type="linear_z" output="screen">
        <param name = "port_z" value ="/dev/arc/LM2" />  <!--"/dev/ttyUSB1" -->
	    <param name = "port_x" value ="/dev/arc/LM1" />  <!--"/dev/ttyUSB0" -->
        <param name = "baud" value = "9600" />
        
    </node>



<!--
<include file="$(find arc_ui)/launch/ui.launch" />
-->
    <!-- rosbridge_server -->
  <arg name="port" default="9090" />
  <arg name="address" default="" />
  <arg name="ssl" default="false" />
  <arg name="certfile" default=""/>
  <arg name="keyfile" default="" />

  <arg name="retry_startup_delay" default="5" />

  <arg name="fragment_timeout" default="600" />
  <arg name="delay_between_messages" default="0" />
  <arg name="max_message_size" default="None" />

  <arg name="authenticate" default="false" />

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <arg name="port" value="$(arg port)"/> 
    <arg name="address" value="$(arg address)"/>
    <arg name="ssl" value="$(arg ssl)"/>
    <arg name="certfile" value="$(arg certfile)"/>
    <arg name="keyfile" value="$(arg keyfile)"/>
  </include>
	
    

</launch>
